<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>

<div class="title-container">
	<div class="title">
		<% if current_page?(:controller => 'posts') %>
			<h5>Today's top stories</h5>
		<% else %>
			<h5>Post's tagged with <%= request.query_parameters.to_s[8,50].slice!(/".*"/) %></h5>
		<% end %>
	</div>
</div>


<div class="row">
	<div class="col-md-6">
		<%= render @posts[0] if @posts[0] != nil %>
		<%= render @posts[2] if @posts[2] != nil%>
		<%= render @posts[4] if @posts[4] != nil%>
	</div>
	<div class="col-md-6">
		<%= render @posts[1] if @posts[1] != nil%>
		<%= render @posts[3] if @posts[3] != nil%>
		<%= render @posts[5] if @posts[5] != nil%>
	</div>
</div>




<div class="apple_pagination">
	<%= will_paginate @posts, container: false %>
</div>
