<tr>
	<td class="right post-title">
		<ul>
			<li class="title"><%= link_to post.title, authors_post_path(post) %></li>
			<li class="date"><%= post.display_day_published %></li>
		</ul>
	</td>
	<td></td>
	<% if post.published %>
		<td class="right post-publish-btn"><%= link_to 'Unpublish', unpublish_authors_post_path(post), method: :put, class: 'btn-posts' %></td>
	<% else %>
		<td class="right post-publish-btn"><%= link_to 'Publish', publish_authors_post_path(post), method: :put, class: 'btn-posts' %></td>
	<% end %>
	<td class="right post-edit-btn"><%= link_to 'Edit', edit_authors_post_path(post), class: 'btn-posts' %></td>
	<td class="right post-remove-btn"><%= link_to 'Remove', authors_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-posts' %></td>
</tr>