<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div class="col-md-1 col-lg-2"></div>
	<div class="col-md-10 col-lg-8">
		<div class="row">
			<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn-posts' %>
			<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-posts' %>
			<h1 class="author-title"><%= @post.title %></h1>
			<p class="author-published"><%= @post.display_day_published %></p>
			<div class="post-body">
				<%= @post.body.html_safe %>	
			</div>
		</div>
	</div>
</div>